#folders

**/.clj-kondo/
**/.lsp/
**/.vscode/
**/__pycache__/
**/bin/
#**/lib/
**/gui/
**/py_school/
**/py_tut/
**/target/
**/today/

#files

**/*.c~
**/*.exe
**/*.log
**/*.md
**/*.o
**/*.old
**/*.txt
**/*.xml
